html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
/*COLOR DEL PRIMER h1*/
.new-color {
  color: silver;
  background-color: #000;
}

h1 {
  color: red;
  background-color: lightblue;
}
.standard-box-black {
  background-color: #191313;
  width: 1920px;
  padding: 1000;
  border: 0px;
  margin: 0px;
}
